/* Stylesheet for index.htm */

li.x:before { content:"0x "; line-height: 1.5em; }
li.a:before { content:"+"; line-height: 1.5em; }
li.t:before { content:"*"; line-height: 1.5em; }
ul.top { list-style-type: none; display: block; }
ul.inner { list-style-type: none; }
a.r:before { content:"<"; }
a.r:after { content:">"; }
.foot:before { content: "["; }
.foot { vertical-align: super; font-size: 0.65em;}
.foot:after { content: "]"; }
.content { padding: 2px; margin-top: 53px;}
.header { position: fixed; left: 1px; top: 0px; width: 100%; height: 51px; background-color: #6699ff; z-index: 5; _position: absolute; font-family: "Georgia", times, serif; font-size: 1.25em; } /* _position: absolute; is a hack for MSIE */
.navigation { position: fixed; left: 1px; top: 50px; width: 14%; height: 800px; background-color: #6699ff; line-height: 1.2em; padding: 3px; z-index: 5; _position: absolute; font-family: "Gentium Bold", courier, serif; } /* _position: absolute; is a hack for MSIE */
.header img { float: left; background-color: #6699ff; position: relative; left: 15px;}
.header span { font-size: 1.1em; position: relative; top: -10px; }
.navigation a { display: block; padding-top: 5px; }
.lnudge { position: relative; left: 5%;}
.ref { font-family: "Gentium Bold", courier, serif; margin-bottom: 0em; margin-top: 0em; margin-left: 0.25in; text-indent: -0.25in; _margin-left: 0em; _text-indent: 0em; }
h1,h2,h3,h4 { font-family: "Gentium Bold", courier, serif; }
body { background-color: #f4ffff; color: #306; }
body p { font-family: "Gentium Bold", courier, serif; font-size: 1.13em; text-indent: 0.25in; margin-bottom: 0em; margin-top: 0em;}
img.w { border: none; margin: 10px; }
a { color: #00c; }
a:hover { background-color: #dff; }
a:visited { color: #06c; }
a:active { background-color: #dff; color: #636; }
code { display: block; background-color: #fff; padding: 7px; padding-left: 5%; width: 50%; }
.hiding { display: none; }
.stage { border: 1px solid #030; margin: 3px; }
.landmark { font-weight: bold; color: #006; }
.achieved:before { content:"+ "; }
.achieved { color: #060; margin-left: -1em; }
.inprogress:before { content:"> "; }
.inprogress { color: #860; margin-left: -1em; }
.rejected { color: #600; text-decoration: line-through; }
