<?xml version="1.0" encoding="UTF-8"?>
<%args>
$lang => ''
$cowc => 'XXXX'
$style => ''
</%args>
<%perl>
use lib '/var/www/ccow-m';
use Manatee;
use ManateeSQL;
$style = substr($style,0,3);
my $dbh = &ManateeSQL::getDB();
my %config = (
	'site' => 'Manatee',
	'logo' => 'manateelogo.png',
	'logodesc' => 'Logo: drawing of a sea cow.',
	'custom' => &Manatee::chooseStyle($style)
);
my %var = (
	'title' => 'Default',
	'lang' => $lang
);
my @crumbs;

if (length($style)){ $var{style} = "style=$style"; }
if (length($lang) == 0){
	$var{title} = "Select Language";
} else {
	my $code = &Manatee::cleanCode($cowc);
	$var{title} = $code;
	$var{code} = $code;
	$var{y} = (substr($var{code},0,1) eq 'y') ? 1 : 0;
	$var{dosnip} = 1;
	$var{showsubs} = 0;
	$var{stage} = getStage($code);
	$var{catmul} = substr($code,0,$var{stage});
	$var{cattrim} = '';
	$var{catinf} = "cats/$lang/$code";
	if($var{stage} > 0){
		$var{cattrim} = $var{catmul};
	}
	if($var{stage} lt 4 and not $var{y}){
		$var{showsubs} = 1;
		while(length($var{catmul}) lt 4){
			$var{catmul} = "${var{catmul}}0";
		}
		$var{muldesc} = &ManateeSQL::glot($var{catmul},$dbh,$lang,4);
		$var{catname} = &ManateeSQL::glot($var{code},$dbh,$lang,$var{stage});
	}
	$var{border} = substr($var{catmul},0,3);
	if ($var{y}) { # explanation key
		$var{border} = "00" . substr($var{code},3,1);
		$var{title} = "Explanation of categories";
		if(substr($var{code},3,1) eq 'x' ) { # explain subcats
			$var{expl} = 1;
			$var{catname} = $var{title};
			$var{stage} = 3;
		} else { # explain a single subcat
			delete $var{catmul};
			$var{cattrim} = "*" . substr($var{code},3,1);
			$var{stage} = 4;
			delete $var{dosnip};
			$var{showsubs} = 0;
			my @aspect = ("Hol","Ras","Dua","Chi","Ter","Fum","Sek","Zab","Med","Neu","Uay","Arz","Pax","Ord","Iyu","Ech");
			my $hx = substr($code,3,1);
			$var{catname} = "$aspect[hex($hx)]";
		}
	}
	@crumbs = ManateeSQL::glotCrumbs($dbh,$var{code},$var{stage},$lang,$var{style});
	$var{crumbs} = scalar(@crumbs); # how many crumbs?
	$var{crumbdiv} = ($var{crumbs} > 0 and index("xX",substr($var{code},0,1)) eq -1) ? 1 : 0;
}
</%perl>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3c.org/1999/xhtml" lang="EN">
<head>
	<title><% $config{site} %>: <% $var{title} %></title>
	<link rel="stylesheet" type="text/css" href="static/main.css" />
% if(length($config{custom})){
	<link rel="stylesheet" type="text/css" href="static/<% $config{custom} %>.css" />
%}
</head>
<body>
% if(length($config{logo})){
	<div class="logo"><img src="img/<% $config{logo} %>" alt="<% $config{logodesc} %>" title="<% $config{logodesc} %>" /></div>
% }


% if ($var{crumbs}) {
		<ul class="loaf" id="breadtrail">
% 	foreach my $i (0..$var{crumbs}-1){
			<li class="crumb" id="sm0<% $crumbs[$i][0] %>"><a href="<% $crumbs[$i][1] %>"><% $crumbs[$i][2] %></a>
% 		if ($var{crumbdiv}) {
&gt;
% 		}
			</li>
% 	}
		</ul>
% }
		<p class="clearit"> </p>
% if (length($var{code})) {
% 	if (length($var{expl})) {
		<h1 id="sm17"><% $var{catname} %></h1>
		<div class="content" id="sm18">
			<div class="menu" id="sm16">
% 	} else {
		<h1 id="sm11">#<% $var{cattrim} %>: <% $var{catname} %></h1>
		<div class="content" id="sm12">
			<div class="menu" id="sm14" style="border-color: #<% $var{border} %>;">
% 	}
<% $var{catinf} %>
% 	print $var{noinf};
% 	if (length($var{suggsubs})) {
		You can help fill out this category. Visit <a href="{{ var['sugurl'] }}?lang={{ var['lang'] }}&cowc={{ var['code'] }}{% if var['style'] %}&{{ var['style'] }}{% endif %}"><% $var{code} %> Divisions</a> to help.
% 	}
% 	if (length($var{cattrim}) and not $var{y}) {
		<p class="note" id="sm01">If you are searching for <% $var{catname} %>, add <strong>cowc:#<% $var{cattrim} %></strong> to your search criteria.</p>
% 	}
% 	if ($var{dosnip} == 1) {
% 		if (length($var{catmul})) {
			<p class="sugg" id="sm03">If the site/work covers multiple categories, its category might be  <a href="?lang=<% $var{lang} %>&cowc=<% $var{catmul} %>
% if (length($var{style})) {
&<% $var{style} %>
% }
"> #<% $var{catmul} %>: <% $var{muldesc} %></a>, and the code to designate it as such would be <strong>&lt;meta name="cowc" content="#<% $var{catmul} %>" /&gt;</strong>.</p>
% 		} else {
			<p class="note" id="sm13">The snippet for this category is: <strong>&lt;meta name="cowc" content="#<% $var{code} %>" /&gt;</strong></p>
% 		}
		<p class="note" id="sm02">You can add this snippet to your HTML's head section to enable search engines that use CCOW to categorize your site.</p>
% 	}
% 	if (length($var{subcats})) {
		<p class="drill" id="sm15">If this is not correct, choose a more specific category from the list below:</p> 
		<p class="clearit"> </p>
		{% for subcat in var['subcats'] %}
			<p class="subcat"><a href="{{ var['uri'] }}?lang={{ var['lang'] }}&cowc={{ subcat[0] }}{% if var['style'] %}&{{ var['style'] }}{% endif %}">{{ subcat[1] }}: {{ subcat[2]|e }}</a></p>
		{% endfor %}
% 	}
			<p class="clearit"> </p>
		</div>
	</div>
% }
% if (length($var{lang}) == 0) {
		<h1 id="sm10"><% $var{title} %></h1>
		<div class="languages">
			<p class="lingua"><a href="?lang=en
% if(length($var{style})){
&<% $var{style} %>
% }
">Language: English</a></p>
			<p class="lingua"><a href="?lang=es
% if(length($var{style})){
&<% $var{style} %>
% }
">Idioma: Español</a></p>
		</div>
% }
	<a href="progress.htm"><% $var{progress} %></a>
% my $t = length($lang) ? $lang : "en";
	<p class="clearit">Don't know what these categories mean? Check out <a href="?lang=<% $t %>&cowc=yxxx
% if(length($var{style})){
&<% $var{style} %>
% }
">Category Explanation</a>
	<p class="clearit"> </p>

	<div class="cc" id="sm11">This helper application is released under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike</a> license.
	<p>The contents of the translation and description files are released under a <a href="http://creativecommons.org/licenses/by-nd/3.0/">CC Attribution-No Derivative Works</a> license.</p> (C) copyright 2009-2013 by the Manatee Project Workgroup.</div>
	<p class="source" id="sm12">You can obtain the source for this program at http://nowhere.yet</p>
% ManateeSQL::glot($var{code},$dbh,$lang,1);
<!-- & dbpull.comp, 'lang'=>$lang, 'dbh'=>$dbh, 'code'=>$code & -->
Lorem Ipsum
<p class="subcat">This is a test subclass 1</p>
<p class="subcat">This is a test subclass 2</p>
<p class="subcat">This is a test subclass 3</p>
</body>
% print %var;
% print %config;
Done through ccowhelp.py:78
</html>