<?xml version="1.0" encoding="UTF-8"?>
<%args>
$lang => ''
$cowc => 'XXXX'
$style => ''
</%args>
<%perl>
use lib '/var/www/ccow-m';
use Manatee;
use ManateeSQL;

$style = substr($style,0,3);
my $dbh = &ManateeSQL::getDB();
my %config = &Manatee::loadConfig($style);
my %var = &Manatee::helpVars($lang,$cowc,$dbh);
if (length($style)){ $var{style} = "style=$style"; }
my @crumbs;
my @subcats;
if (length($var{lang}) != 0) {
	@crumbs = ManateeSQL::glotCrumbs($dbh,$var{code},$var{stage},$lang,$var{style});
	$var{crumbs} = scalar(@crumbs); # how many crumbs?
	$var{crumbdiv} = ($var{crumbs} > 0 and index("xX",substr($var{code},0,1)) eq -1) ? 1 : 0;
	if ($var{showsubs}) {
		@subcats = ManateeSQL::glotSubs($dbh,$var{code},$var{stage},$lang);
		for (my $i = 0; $i < scalar(@subcats); $i++) {
			if (substr($subcats[$i][2],0,1) eq '[') {
				$var{suggsubs} = 1;
				$i = 255;
			}
		}
	}
}

</%perl>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3c.org/1999/xhtml" lang="EN">
<head>
	<title><% $config{site} %>: <% $var{title} %></title>
	<link rel="stylesheet" type="text/css" href="static/main.css" />
% if(length($config{custom})){
	<link rel="stylesheet" type="text/css" href="static/<% $config{custom} %>.css" />
%}
</head>
<body>
% if(length($config{logo})){
	<div class="logo"><img src="img/<% $config{logo} %>" alt="<% $config{logodesc} %>" title="<% $config{logodesc} %>" /></div>
% }


% if ($var{crumbs}) {
		<ul class="loaf" id="breadtrail">
% 	foreach my $i (0..$var{crumbs}-1){
			<li class="crumb" id="sm0<% $crumbs[$i][0] %>"><a href="<% $crumbs[$i][1] %>"><% $crumbs[$i][2] %></a>
% 		if ($var{crumbdiv}) {
&gt;
% 		}
			</li>
% 	}
		</ul>
% }
		<p class="clearit"> </p>
<& ccowmenu.comp, 'uri'=>$var{uri} &>
% if (length($var{code})) {
% 	if (length($var{expl})) {
		<h1 id="sm17"><% $var{catname} %></h1>
		<div class="content" id="sm18">
			<div class="menu" id="sm16">
% 	} else {
		<h1 id="sm11">#<% $var{cattrim} %>: <% $var{catname} %></h1>
		<div class="content" id="sm12">
			<div class="menu" id="sm14" style="border-color: #<% $var{border} %>;">
% 	}
% 	if (-e "$config{localpath}/$var{catinf}") {
<& $var{catinf} &>
% 	} else {
<& cats/dhandler &>
% 	print $var{noinf};
% 	}
% 	if ($var{suggsubs} && length($config{sugurl})) {
		You can help fill out this category. Visit <a href="<% $config{sugurl} %>?lang=<% $var{lang} %>&cowc=<% $var{code} %>
% if (length($var{style})) {
&<% $var{style} %>
% }
"><% $var{code} %> Divisions</a> to help.
% 	}
% 	if (length($var{cattrim}) and not $var{y}) {
		<p class="note" id="sm01">If you are searching for <% $var{catname} %>, add <strong>cowc:#<% $var{cattrim} %></strong> to your search criteria.</p>
% 	}
% 	if ($var{dosnip} == 1) {
% 		if (length($var{catmul})) {
			<p class="sugg" id="sm03">If the site/work covers multiple categories, its category might be  <a href="?lang=<% $var{lang} %>&cowc=<% $var{catmul} %>
% if (length($var{style})) {
&<% $var{style} %>
% }
"> #<% $var{catmul} %>: <% $var{muldesc} %></a>, and the code to designate it as such would be <strong>&lt;meta name="cowc" content="#<% $var{catmul} %>" /&gt;</strong>.</p>
% 		} else {
			<p class="note" id="sm13">The snippet for this category is: <strong>&lt;meta name="cowc" content="#<% $var{code} %>" /&gt;</strong></p>
% 		}
		<p class="note" id="sm02">You can add this snippet to your HTML's head section to enable search engines that use CCOW to categorize your site.</p>
		<p class="drill" id="sm15">If this is not correct, choose a more specific category from the list below:</p> 
% 	}
% 	if ($var{showsubs}) {
		<p class="clearit"> </p>
% 		for (my $i=0; $i < scalar(@subcats); $i++) {
			<p class="subcat"><a href="?lang=<% $var{lang} %>&cowc=<% $subcats[$i][0] %>
% 			if (length($var{style})) {
&<% $var{style} %>
% 			}
"><% $subcats[$i][1] %>: <% $subcats[$i][2] %></a></p>
% 		}
% 	}
			<p class="clearit"> </p>
		</div>
	</div>
% }
% if (length($var{lang}) == 0) {
		<h1 id="sm10"><% $var{title} %></h1>
		<div class="languages">
			<p class="lingua"><a href="?lang=en
% if(length($var{style})){
&<% $var{style} %>
% }
">Language: English</a></p>
			<p class="lingua"><a href="?lang=es
% if(length($var{style})){
&<% $var{style} %>
% }
">Idioma: Español</a></p>
		</div>
% }
	<a href="progress.htm"><% $var{progress} %></a>
% my $t = length($lang) ? $lang : "en";
	<p class="clearit">Don't know what these categories mean? Check out <a href="?lang=<% $t %>&cowc=yxxx
% if(length($var{style})){
&<% $var{style} %>
% }
">Category Explanation</a>
	<p class="clearit"> </p>

	<div class="cc" id="sm11">This helper application is released under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike</a> license.
	<p>The contents of the translation and description files are released under a <a href="http://creativecommons.org/licenses/by-nd/3.0/">CC Attribution-No Derivative Works</a> license.</p> (C) copyright 2009-2013 by the Manatee Project Workgroup.</div>
	<p class="source" id="sm12">You can obtain the source for this program at https://github.com/over2sd/Manatee/</p>
</body>
</html>
