<?xml version="1.0" encoding="UTF-8"?>
<%args>
$lang => ''
$scod => 'XXXX' # for compatibility with python version
$cowc => $scod
$style => ''
$sdesc => '[Suggestion]'
$srat => '[Rationale]'
</%args>
<%perl>
use Apache2::Connection ();
use lib '/var/www/ccow-m';
use Manatee;
use ManateeSQL;

my $build = '003';
my %config = &Manatee::loadConfig($style);
my $dbh = &ManateeSQL::getDB();
my %var = &Manatee::suggVars($lang,$build,$cowc,$sdesc,$srat,$dbh);


if (length($config{site}) == 0) {
	$config{site} = "Manatee";
}
if (length($style)){ $var{style} = "style=$style"; }

#suggest.htm
$var{ip} = $r->connection->remote_ip;
my @crumbs = ManateeSQL::glotCrumbs($dbh,$var{cowc},$var{stage},$lang,$var{style});
$var{crumbs} = scalar(@crumbs); # how many crumbs?
$var{crumbdiv} = ($var{crumbs} > 0 and index("xX",substr($var{cowc},0,1)) eq -1) ? 1 : 0;
my @subcats;
if ($var{showsubs}) {
	@subcats = ManateeSQL::glotSubs($dbh,$var{cowc},$var{stage},$lang);
}
$var{suggested} = 0;
my @suggestions;
# $var{push} = &ManateeSQL::pushSugg($dbh,$var{ip},$var{cowc},$var{sdesc},$var{srat});
if ($var{push} == 1) {
	$var{showform} = 0;
	$var{showerr} = 1;
	$var{error} = "You have (or someone at your IP has) suggested a description for this category recently. Please try submitting again later, or login to your experts account to make and edit suggestions.";
}
@suggestions = &ManateeSQL::glotSuggs($dbh,$var{cowc},$var{lang});
if (@suggestions) {
	$var{suggested} = scalar(@suggestions);
}
if ($var{showsubs}) {
	$var{suggested} = 0;
}

print "<br />-<br />";

# pushSugg
my $code = $var{cowc};
$code =~ s/x/o/g;
$code =~ s/X/o/g;
my $toosoon = &ManateeSQL::countRecords($dbh,0,"cats",$code,$lang,$var{ip});
if (!$toosoon && $var{showsubs} == 0) {
	$var{pushcmd} = qq(INSERT INTO cats (ccode,ctext,rationale,ip,lang) VALUES ('$code','$var{sdesc}','$var{srat}','$var{ip}','$lang'););

} else {
	$var{pushcmd} = "TOOSOON!";
#	return 1; # too soon
}
</%perl>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3c.org/1999/xhtml" lang="EN">
<head>
	<title><% $config{site} %>: <% $var{title} %></title>
	<link rel="stylesheet" type="text/css" href="static/main.css" />
% if(length($config{custom})){
	<link rel="stylesheet" type="text/css" href="static/<% $config{custom} %>.css" />
%}

</head>
<body>
% if(length($config{logo})){
	<div class="logo"><img src="img/<% $config{logo} %>" alt="<% $config{logodesc} %>" title="<% $config{logodesc} %>" /></div>
% }
% if (length($var{lang}) == 0) {
		<h1 id="sm10"><% $var{title} %></h1>
		<div class="languages">
			<p class="lingua"><a href="?lang=en
% if(length($var{style})){
&<% $var{style} %>
% }
">Language: English</a></p>
			<p class="lingua"><a href="?lang=es
% if(length($var{style})){
&<% $var{style} %>
% }
">Idioma: Español</a></p>
		</div>
% } else {

% if ($var{crumbs}) {
		<ul class="loaf" id="breadtrail">
% 	foreach my $i (0..$var{crumbs}-1){
			<li class="crumb" id="sm0<% $crumbs[$i][0] %>"><a href="<% $crumbs[$i][1] %>"><% $crumbs[$i][2] %></a>
% 		if ($var{crumbdiv}) {
&gt;
% 		}
			</li>
% 	}
		</ul>
% }
	<p>Return to <a href="index.htm">CCOW helper</a></p>
	<p class="clearit"> </p>
	<h1 id="sm11">For subcategory <% substr($var{cowc},$var{stage}-1,1) %>: <% $var{catname} %></h1>
% if ($var{suggested} != 0) {
	Current suggestions for <% $var{cowc} %>:
	<table class="suggs"><tr><th>Suggestion</th><th>Rationale</th></tr>
% 		for (my $i=0; $i < scalar(@suggestions); $i++) { #<lt>
%			my @t = $suggestions[$i];
		<tr><td><% $t[0]->[0] %></td><td><% $t[0]->[1] %></td></tr>
% 	}
	</table>
% }
% if ($var{showform}) {
	Your suggestion:
	<form name="suggest" method="post" action="suggest.htm">
		Code: <input type="text" name="cowc" size="4" value="<% $var{cowc} %>" /><br />
		Description: <input type="text" name="sdesc" size="75%" value="<% $var{sdesc} %>" /><br />
		Rationale: <input type="text" name="srat" size="75%" value="<% $var{srat} %>" /><br />
		<input type="hidden" name="lang" value="<% $var{lang} %>" />
		<input type="hidden" name="style" value="<% $var{style} %>" />
		<input type="submit"  value="Suggest" />
	</form>
% } elsif ($var{showerr} == 1) {
	<br />
% } else {
	<p>You entered: <% $var{cowc} %>: "<% $var{sdesc} %>" - "<% $var{srat} %>"</p>
% }

% if ($var{showerr}) {
	<p class="errtext"><% $var{error} %></p>
% }
% 	if ($var{showsubs}) {
		<p class="clearit"> </p>
% 		for (my $i=0; $i < scalar(@subcats); $i++) {
			<p class="subcat"><a href="?lang=<% $var{lang} %>&cowc=<% $subcats[$i][0] %>
% 			if (length($var{style})) {
&<% $var{style} %>
% 			}
"><% $subcats[$i][1] %>: <% $subcats[$i][2] %></a></p>
% 		}
% 	}
			<p class="clearit"> </p>
% }


	<div class="cc" id="sm11">This helper application is released under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike</a> license.
	<p>The contents of the translation and description files are released under a <a href="http://creativecommons.org/licenses/by-nd/3.0/">CC Attribution-No Derivative Works</a> license.</p> (C) copyright 2009-2013 by the Manatee Project Workgroup.</div>
	<p class="source" id="sm12">You can obtain the source for this program at https://github.com/over2sd/Manatee/</p>
% foreach (sort keys %var) {
% 	print "$_: $var{$_}<br/>\n";
% }
<br />Done through ccowsugg:55
	<p>Build #<% $var{build} %></p>
</body>
</html>