Content-Type: text/css


/* CSS */

p { margin: 0px; }
h1 { clear: left; }
.loaf { position: absolute; left: 7px; top: 2px; color: #300; list-style-type: circle; border: 2px solid #906; border-radius: 15px; padding: 7px; background-color: #cff; max-width: 80%; }
#sm11, #sm17 { clear: left; }
.crumb { float: left; padding: 2px; display: inline; background-color: #cff; list-style-image:url('arrow.gif'); }
.effrat { float: right; color: #ddd; } /* text-decoration: line-through; } */
.cc { display: block; clear: right; }
.sugg {}
.note {}
.desc { border-radius: 7px; border: 1px solid #009; padding: 4px; background-color: #eef; }
.similar {}
.example {}
.subs {}
.relat { font-weight: bold; margin: 0 0 3px 0; }
#duration { float: left; }
.source { display: none; }
#rcm { display: none; }
.i18nerr { color: #600; background-color: #ffc; text-align: center; }
.subcat { float: left; padding: 8px; width: 22.65%; margin: 1.05em .125%; position: relative; left: .5%; }
.subcat a, .subcat a:link, .subcat a:visited, .subcat a:active, .subcat a:hover, .subcat span { display: block; border-radius: 7px; border: 3px outset #0c6; text-align: center; padding: 0.25em; background-color: #0c6; color: #105; width: 98%; height: 6em; margin-top: -2.5em; text-decoration: none; font-size: 0.96em; }
.menu { border-radius: 30px; border: 5px solid; padding: 17px 7px 0 7px; margin: 0; }
.drill { margin: 0px; }
table.progress { width: 100%; } 
table.progress tr td { height: 7px; padding: 0px; margin: 1px; }
table.progress tr td p { background-color: #fff; color: #fff; padding: 2px; margin: 0px; font-size: 6pt; }
/*.progress { position: relative; }
.progress div { width: 64%; }
.progress div div { width: 32%; }
.progress div div img { float: left; } */
.t0 { background: #f99 url('red.gif'); }
.t1 { background: #0f0 url('grn.gif'); }
/* .missing { float: left; margin: 2px; } */
.misscont1 { margin: 2px; font-family: monospace; font-size: 10pt; }
.misscont2 { float: left; border: 1px solid #000; margin: 1px; padding: 2px; }
.clearit { clear: left; clear: right; clear: both; display: block; height: 1em; padding: 0; margin: 0; }
.newstat { margin: 5px; padding: 0px; float: left; border: 3px inset #b0b0cc; text-align: center; }
.oldstat { margin: 5px; padding: 0px; float: left; border: 3px inset #4040ff; text-align: center; }
.newstat img, .oldstat img { display: block; margin: 0; padding: 0; }
.logo { float: right; }
.logo img { border: 0px; }
.errtext { color: #600; background-color: #ffc; text-align: center; }
.suggs { width: 98%; left: 1%; padding: 1%; border: 2px inset #decade; border-radius: 30px; background-color: #efface; }
.suggs tr td { border: 2px outset #decade; border-radius: 15px; padding: 10px; background-color: #fafafa; margin: 1em; }